.main-head {
  height: 813px;
  width: 100%;

  .head-col {
    padding: 0 165px 0 165px;
  }


  .head-title {
    font-family: "Exo-Thin", sans-serif;
    text-align: center;
    h2 {
      font-size: 60px;
      margin: 0;
    }
  }

  .head-center{
    text-align: center;
  }

  .head-bottom {
    font-family: "Exo-Regular", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: $span-header;
      font-size: 14px;
    }
  }

  .head-play {
    color: $white;
    font-size: 16px;
    padding: 18px 50px;
    background-color: $accent-pink;
    text-transform: uppercase;
  }

}
