.main-sect-four {


  .photo {
    height: 76px;
    width: 76px;
    border: 2px solid $black;
    background-color: $bg-photo;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .name {
    font-family: "Exo-Meduim", sans-serif;
    h6{
      font-size: 22px;
      color: $white;
    }
  }

  .prof{
    font-family: "Exo-Meduim", sans-serif;
    p{
      font-size: 16px;
      color: $pink;
    }
  }

  .profile{
    font-family: "ExoItalic-Regular", sans-serif;
    p{
      font-size: 16px;
      color: $section-body;
    }
  }

}

@media only screen and (max-width : 992px) {
  .main-sect-four {
    .one-container {
      padding-top: 50px;
    }
    .two-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

@media only screen and (max-width : 480px) {
  .main-sect-four{
    .partners {
      display: none;
    }
    .two-container {
      padding: 0;
    }
    .one-container {
      padding-right: 30px;
      padding-bottom: 20px;
    }
  }
}
