.main-sect-five {
  background-color: $sect-five;

  .five-title {
    font-family: "Exo-Meduim", sans-serif;
    h6{
      font-size: 16px;
      color: $pink;
    }
    h2{
      font-size: 40px;
    }
    p{
      font-size: 16px;
      color: $section-body;
      padding-top: 30px;
    }
  }

  .five-img {
    width: 100%;
    height: 359px;
    background-size: auto;
  }

}


@media only screen and (max-width : 1200px) {
  .main-sect-five {
    .container {
      padding-top: 55px;
    }
    .five-title {
      padding-bottom: 70px;
    }
  }
}



@media only screen and (max-width : 992px) {
  .main-sect-five {
    .five-title {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 35px;
    }
    .five-img {
      display: none;
    }
    .container {
      padding-top: 35px;
    }
  }
}


@media only screen and (max-width : 480px) {
  .main-sect-five {
      .five-title {
        h2 {
          font-size: 30px;
        }
        p {
          padding: 0;
        }
      }
  }
}
